.container
  .row.mt-5
    .col-sm-8.offset-sm-2.text-center
      - if notice.present?
        .alert.alert-success{ role: "alert" }
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          #notice= notice

      - if @alert.errors.any? || @user.errors.any?
        #errors.alert.alert-danger{ role: "alert" }
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %ul
            - @alert.errors.full_messages.each do |message|
              %li= message
            - @user.errors.full_messages.each do |message|
              %li= message


      %br
      %h1 Discount app
      %h5 Get notified about product discounts!
      %p
        Note: All links must be for a product page on
        = link_to "Continente Online", "https://www.continente.pt/", target: :blank

  .row.mt-5
    .col-sm-6.offset-sm-3
      = form_for(@alert, url: { action: "create" }) do
        .form-group
          = label_tag :name, "Alert Name"
          = text_field_tag :name, nil, class: "form-control", placeholder: "Alert Name"
        .form-group
          = label_tag :url, "Product Link"
          = text_field_tag :url, nil, class: "form-control", placeholder: "Product URL"
        .form-group
          = label_tag :email, "Email"
          = text_field_tag :email, nil, class: "form-control", placeholder: "Email to get alerted at"
        .form-group
          = submit_tag "Set Alert!", class: "btn btn-primary btn-lg"

.container
  .row.mt-5
    .col-sm-8.offset-sm-2.text-center
      %small= link_to "Manage your alerts here.", "#", id: "manage-alerts"

:javascript
  $('#manage-alerts').on('click', function(){
    var email = prompt("Please enter your email address");
    if (email != null) {
      window.location = '/alerts?email=' + email;
    }
  });
